<section id="emails-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Tweets List</h1>
      </div>
    </div>
  </div>
<div class="col-xs-12 col-md-6">
  <% if @mentions_list != nil %>
    <h2>Hashtag List:</h2>
    <ul class="list-group" id="hashtag-list">
      <%  @hashtag_list.each do |item| %>
        <li class="list-group-item"><%= item %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No hashtags found!</p>
  <% end %>
</div>


<div class="col-xs-12 col-md-6">
  <h2>Mention List:</h2>
  <% if @mentions_list != nil %>
    <ul class="list-group" id="mentions-list">
      <% @mentions_list.each do |item| %>
        <li class="list-group-item"><%= item %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No mentions found</p>
  <% end %>
</div>

</section>
