<section id="texts-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Texts List</h1>
      </div>
      <% @texts.each do |text| %>

        <div class="col-xs-12 col-md-6" style="height: 250px">
          <div class="card">
            <div class="card-header">
              <p><%= text.sender %></p>
              <div class="card-content">
                <p>Text header: <%= text.header %></p>
                <p>Text body: <%= text.body %></p>

                <% if text.expanded_body != text.body %>
                  <p>Text expanded body: <%= text.expanded_body %></p>
                <% else %>
                  <p>This texts contains no abreviations</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</section>









